<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>D&DD</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/Logo.jpg"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/Logo.jpg" alt="logo"/></a>
    <div class="navlink"><a href="/list">List</a></div>
    <div class="navlink"><a href="/add">Add</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/credits">credits</a></div>
  </nav>
  <section id="monsters">
        {{#if monsters}}
            {{#each monsters}}
                <div class="monster">
                    <h3 class="monsterName">{{this.name}}</h3>
                    <h3 class="monsterHealth">Total HP: {{calcHP this.numDie this.die this.plus}}</h3>
                  
                    <h4 class"cr">CR: {{this.cr}}</h4>
                  
                  <div class= "stats">
                    <div class="str">
                      <h4 class="strValue">STR: {{this.str}}</h4>
                      <h4 class="strMod">MOD: {{calcMod this.str}}</h4>
                    </div>
                    
                    <div class="int">
                      <h4 class="intValue">INT: {{this.int}}</h4>
                      <h4 class="intMod">MOD: {{calcMod this.int}}</h4>
                    </div>
                    
                    <div class="wis">
                      <h4 class="wisValue">WIS: {{this.wis}}</h4>
                      <h4 class="wisMod">MOD: {{calcMod this.wis}}</h4>
                    </div>
                    
                    <div class="dex">
                      <h4 class="dexValue">DEX: {{this.dex}}</h4>
                      <h4 class="dexMod">MOD: {{calcMod this.dex}}</h4>
                    </div>
                    
                    <div class="con">
                      <h4 class="conValue">CON: {{this.con}}</h4>
                      <h4 class="conMod">MOD: {{calcMod this.con}}</h4>
                    </div>
                    
                    <div class="cha">
                      <h4 class="chaValue">CHA: {{this.cha}}</h4>
                      <h4 class="chaMod">MOD: {{calcMod this.cha}}</h4>
                    </div>
                    
                  </div>
                  
                    <p class="skills">Skills: {{this.skills}}</p>
                    
                    <p class="notes">Notes: {{this.notes}}</p>
                    
                   
                    
                  
                  <input type="button" class ="delete" name="delete" value="Delete">
                </div>
        {{/each}}
      
        <input id= "csrf" type = "hidden" name = "_csrf" value = {{csrfToken}} />
        {{/if}}

  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="/assets/maker.js" type="text/babel"></script>
</body>
</html>